
*{
	touch-action: pan-y;
} 
.main_header{
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
}
#chat-page .chat-me .am-list-extra{
	flex-basis: auto;
}
#chat-page .chat-me .am-list-thumb{
	position: absolute;
	right: 0;
}

#chat-page .chat-me .am-list-content{
	padding-right: 15px;
	text-align: right;
	margin-right: 20px;
}
#chat-page .am-tab-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
}
#chat-page .am-list-item .am-input-extra{
	margin-right: 20px;
}

#chat-page .am-button-small{
	line-height: 20px;
	height: 20px;
}